<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:v-bind="https://vuejs.org/v2/api/#v-bind"
      xmlns:v-on="https://vuejs.org/v2/api/#v-on">
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/sem-poc/">Semantic POC</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/growth.html">Going for Growth</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" id="main">
      <h1>Economic Policy Reforms: Going for Growth</h1>
      <div class="row">
        <div class="col-2">
          <div class="info-box">
            English<br/>
            Annual<br/>
            ISSN: ... (online)<br/>
            ISSN: ... (print)<br/>
            DOI: 10.1787/16097408<br/>
          </div>
        </div>
        <div class="col">
          <p>
            Going for Growth builds on OECD expertise on structural policy reforms and economic performance to provide policy makers with a set of concrete recommendations on reform areas identified as priorities for strong and inclusive growth.
          </p>
          <p>
            The priorities broadly cover product and labour market regulation, education and training, tax and transfer systems, trade and investment rules, as well as innovation policies. The Going for Growth framework has been instrumental in helping G20 countries make progress on their structural reform agenda, including through monitoring their growth strategies to achieve sustained and balanced growth.
          </p>
        </div>
      </div>

      <e-timeline v-bind:dataset="publication" v-on:click-issue="issueClicked">
      </e-timeline>

      <div class="row">
        <div class="col-2">
          <e-volumes-issues v-bind:publication="publication" v-on:click-issue="issueClicked">
          </e-volumes-issues>
        </div>
        <div class="col">
          <e-issue-summary
              v-if="current.what === 'issue'"
              v-bind:publication="publication"
              v-bind:issue="current.issue">
          </e-issue-summary>
          <e-topic-summary what="subject"
              v-if="current.what === 'subject'"
              v-bind:topic="current.subject"
              v-bind:publication="publication"
              v-bind:issue="current.issue">
          </e-topic-summary>
          <e-topic-summary what="country"
              v-if="current.what === 'country'"
              v-bind:topic="current.country"
              v-bind:publication="publication"
              v-bind:issue="current.issue">
          </e-topic-summary>
        </div>
      </div>
    </div>
    <script>
      publicationMain("growth", "#main");
    </script>
  </body>
</html>
