<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:v-bind="https://vuejs.org/v2/api/#v-bind"
      xmlns:v-on="https://vuejs.org/v2/api/#v-on">
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Semantic POC</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="eco_outlook.html">Economic Outlook</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" id="main">
      <h1>OECD Economic Outlook</h1>
      <div class="row">
        <div class="col-2">
          <div class="info-box">
            English<br/>
            Semiannual<br/>
            ISSN: ... (print)<br/>
            ISSN: ... (online)<br/>
            DOI: 10.1787/...<br/>
          </div>
        </div>
        <div class="col">
          <p>
            The OECD Economic Outlook is the OECD’s twice-yearly analysis of the major economic trends and prospects for the next two years. Prepared by the OECD Economics Department, the Outlook puts forward a consistent set of projections for output, employment, government spending, prices and current balances based on a review of each member country and of the induced effect on each of them on international developments.
          </p>

          <p>
            Coverage is provided for all OECD member countries as well as for selected non-member countries. Each issue includes a general assessment, chapters summarizing developments and providing projections for each individual country, three to five chapters on topics of current interest such as housing, and an extensive statistical annex with a wide variety of variables including general debt.
          </p>
        </div>
      </div>

      <e-timeline v-bind:dataset="publication"
                  v-on:click-issue="issueClicked"
                  v-on:which-select="w => { current.which = w; }">
      </e-timeline>

      <div class="row">
        <div class="col-2">
          <e-volumes-issues v-bind:publication="publication" v-on:click-issue="issueClicked">
          </e-volumes-issues>
        </div>
        <div class="col">
          <template v-if="false">
          <div class="btn-group" role="group" aria-label="What">
            <button type="button" class="btn btn-sm"
                    v-bind:class="current.what === 'issue' ? 'btn-primary' : 'btn-secondary'"
                    v-on:click="current.what = 'issue'">Issue</button>
            <button type="button" class="btn btn-sm"
                    v-if="current.which === 'subject'"
                    v-bind:class="current.what === 'subject' ? 'btn-primary' : 'btn-secondary'"
                    v-on:click="current.what = 'subject'">Subject</button>
            <button type="button" class="btn btn-sm"
                    v-if="current.which === 'coverage'"
                    v-bind:class="current.what === 'country' ? 'btn-primary' : 'btn-secondary'"
                    v-on:click="current.what = 'country'">Country</button>
          </div>
          </template>

          <e-issue-summary
              v-if="current.what === 'issue'"
              v-bind:publication="publication"
              v-bind:issue="current.issue">
          </e-issue-summary>
          <e-topic-summary what="subject"
              v-if="current.what === 'subject'"
              v-bind:topic="current.subject"
              v-bind:publication="publication"
              v-bind:issue="current.issue">
          </e-topic-summary>
          <e-topic-summary what="country"
              v-if="current.what === 'country'"
              v-bind:topic="current.country"
              v-bind:publication="publication"
              v-bind:issue="current.issue">
          </e-topic-summary>
        </div>
      </div>
    </div>

    <script>
      publicationMain("eco_outlook", "#main");
    </script>
  </body>
</html>
